{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}

<div class="container">
    <h3 class="text-center my-2">About Us</h3>
    <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum delectus ad facere dolorem obcaecati unde porro sint, dolores, asperiores id neque placeat consequatur explicabo odit autem perspiciatis. Minus tempore eligendi ad, aperiam quod obcaecati. Aliquam nemo impedit sed dolores ad laudantium? Debitis quia doloremque provident eaque nisi eligendi possimus pariatur.</p>
</div>
{% endblock body %}